<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.csgradqau.projectjarvis">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjectJarvis">
        <activity android:name=".rearCam"></activity>
        <activity android:name=".frontCam" />
        <activity android:name=".sensorStatus" />
        <activity android:name=".cameraMode" />
        <activity android:name=".parkingMode" />
        <activity android:name=".cruiseMode" />
        <activity android:name=".connectSensors" />
        <activity android:name=".home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".test" />
        <activity android:name=".safeDistance" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>